/* Configuración General */
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f4f7f6;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

.form-container {
  background: #fff;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 450px;
}

.confirm-Modal-Container {
  background: #fff;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  max-width: 450px;
}

h2 {
  color: #2c3e50;
  margin-bottom: 1.5rem;
  text-align: center;
  border-bottom: 2px solid #e74c3c;
  padding-bottom: 0.5rem;
}

.form-group {
  margin-bottom: 1.2rem;
  display: flex;
  flex-direction: column;
}

label {
  font-weight: 600;
  margin-bottom: 0.4rem;
  color: #34495e;
  transition: color 0.3s;
}

input,
select {
  padding: 0.8rem;
  border: 1px solid #dcdde1;
  border-radius: 4px;
  font-size: 1rem;
  transition: all 0.3s ease;
}

input:focus {
  outline: none;
  border-color: #3498db;
}

textarea {
  width: 100%;
  height: 120px;
  border: 1px solid #dcdde1;
  resize: none;
}

textarea:focus {
  outline: none;
  border-color: #3498db;
}

.text-red {
  color: #e74c3c;
}

/* 1. Ocultar mensaje de error por defecto */
.error-msg {
  color: #e74c3c;
  font-size: 0.8rem;
  margin-top: 0.3rem;
  display: none;
}

/* 2. Cuando el input es inválido Y no está vacío:
   - Cambia color del label
   - Cambia borde del input
   - Muestra el span de error */
input:not(:placeholder-shown):invalid {
  border-color: #e74c3c;
}

input:not(:placeholder-shown):invalid ~ label {
  color: #e74c3c;
}

input:not(:placeholder-shown):invalid ~ .error-msg {
  display: block;
}

/* Estilo del Botón Deshabilitado */
button {
  width: 100%;
  padding: 1rem;
  border: none;
  border-radius: 4px;
  background-color: #2ecc71;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  margin-top: 1rem;
  transition: background 0.3s;
}

button:disabled {
  background-color: #bdc3c7;
  cursor: not-allowed;
  opacity: 0.7;
}

.visible {
  display: block;
}

.user-data {
  list-style: none;
}
